/*** CUSTOM PROPERTIES ***/

:root {
    --red: #E53D22;
    --white: #fcfff7;
    --gray: #7e7f83;
    --black: #14110f;
    --yellow: #E2EF70;
}

/*** BASE RESET ***/

* {
    margin:0;
    padding: 0;
}

/*** BOX SIZE & FONT SIZE ***/
*,
*::before,
*::after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
      /* set font size for easy rem calculations */
      /* 62.5% equals 10px */
      /* default doc font size: 16px, 1rem = 16px, (100% / 16px) * 10 = 62.5%, 1rem = 10px */
    font-size: 62.5%;
    scroll-behavior: smooth;
}

/* Use media queries to set font sizes on different screens and automate responsiveness */
/* make sure to use rem units for size values, margin, and padding */
/* use em for breakpoints */
/* calculation: screen size divided any browser base font */
/* 980px / 16px = 61.25em */
/* 1200px / 16px = 75em */
@media (max-width: 75em) {
    html {
        font-size: 60%;
  }
}
/* 980px / 16px = 61.25em */
@media (max-width: 61.25em) {
      html {
        font-size: 58%;
  }
}
/* 460px / 16px = 28.75em */
@media (max-width: 28.75em) {
      html {
        font-size: 55%;
  }
}
/*** BASE STYLES ***/

body {
    font-family: 'Poppins', sans-serif;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.4;
    color: var(--gray);
}

h1, 
h2 {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    text-align: center;
    width: 100%;
}

h1 {
    color: var(--white);
    font-size: 6rem;
}

h2 {
    color: var(--red);
    font-size: 4.2rem;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--white);
}

img {
    display: block;
    width: 100%;
}

/*** NAVIGATION ***/

.nav {
    display: flex;
    justify-content: space-around;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--red);
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0,4);
    z-index: 10;
    padding: 1rem;
}

.nav-list {
    display: flex;
    /* list-style: none; */
    /* margin-right: 2em; */
}
.nav-list a {
    display: block;
    font-size: 2rem;
    padding: 1rem;
    font-weight: 100;
}

.nav-list a:hover {
    padding-bottom: 1rem;
    /* text-decoration: underline; */
    background-color: var(--white);
    color: var(--red);
    border-radius: 20%;
}

.logo {
    font-size: 2.7rem;
    font-weight: 700;
    padding: 1rem;
}

@media screen and (max-width: 1180px) {
    .nav {
        justify-content: space-between;
    }
}

@media screen and (max-width: 430px) {
    .nav {
        justify-content: center;
  }
  .nav-list {
        margin: 0 1em;
  }
}

/*** WELCOME SECTION ***/

.welcome-section {
    background-color: var(--black);
    background-image: linear-gradient(62deg, #47606e 10%, var(--black) 100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    color: var(--yellow);
}

.welcome-section > p {
    font-size: 3rem;
    font-weight: 200;
}

.typing-text {
    width: 29rem;
    /* animation: typing 2s steps(22), blink .5s step-end infinite alternate; */
    white-space: nowrap;
    overflow: hidden;
    /* border-right: 3px solid; */
    font-family: monospace;
    font-size: 2rem;
    justify-content: flex-end;
  }

/*** ABOUT SECTION ***/
.abt-section {
    background-image: linear-gradient(-32deg, var(--yellow) 10%, var(--white) 100%);
    background-color: var(--white);
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
    height: 100vh;
    padding: 10rem 2rem;
}

.abt-section-header {
    max-width: 640px;
    margin: 0 auto 6rem auto;
    border-bottom: 0.2rem solid;
}

.abt-blurb {
    overflow: hidden;
    padding: 5rem 30rem;
    font-size: 3rem;
}

@media (max-width: 1237px) {
    .abt-blurb {
        padding: 5rem 0rem;
    }
}

@media (max-width: 600px) {
    .abt-blurb {
    font-size: 2.5rem;
    }
}
/*** PROJECT SECTION ***/

.projects-section {
    background-color: var(--black);
    background-image: linear-gradient(62deg, #47606e 10%, var(--black) 100%);
    text-align: center;
    padding: 10rem 2rem;
    /* height: 100vh; */
}

.projects-section h2 {
    color: var(--white)
}

.projects-section-header {
    max-width: 640px;
    margin: 0 auto 6rem auto;
    border-bottom: 0.2rem solid;
}

@media (max-width: 28.75em) {
    .projects-section-header {
        font-size: 4rem;
    }
}

.projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    gap: 4rem;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    margin-bottom: 6rem;
}

@media (max-width: 30.625em) {
    .projects-section {
        padding: 6rem 1rem;
    }
    .projects-grid {
        grid-template-columns: 1fr;
    }
}

.project {
    background: var(--gray);
    box-shadow: 1px 1px 2px rgb(0 0 0 / 50%);
    border-radius: 2px;
}

.project-image {
    height: calc(100% - 6.8rem);
    width: 100%;
    object-fit: cover;
}

.project-title {
    font-size: 2rem;
    padding: 2rem 0.5rem;
}

.code {
    color: var(--gray);
}

/*** CONTACT SECTION ***/

.contact-section {
    background-color: var(--yellow);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 80vh;
    padding: 0rem 2rem;
}

.contact-section-header > h2 {
    font-size: 6rem;
    text-shadow: 2px 2px 1px #dcded8;
}

.contact-links {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 980px;
    margin-top: 4rem;
    flex-wrap: wrap;
}

.contact-section a {
    color: var(--red);
    font-size: 3rem;
}

.contact-details {
    font-size: 2.4rem;
    text-shadow: 2px 2px 1px #dcded8;
    transition: transform 0.3s ease-out;
}

.btn {
    display: inline-block;
    padding: 1rem 2rem;
    border-radius: 2px;
}
/*** FOOTER ***/

footer {
      font-weight: 300;
      display: flex;
      justify-content: center;
      padding: 2rem;
      background: var(--red);
}

footer p {
      /* margin: 0rem; */
      font-size: 3rem;
      color: var(--white);
}

.copyright {
    /* font-size: 4rem; */
    font-weight: 700;
}