:root {
    --red: #E4572E;
    --white: #fcfff7;
    --gray: #7e7f83;
    --black: #14110f;
    --yellow: #E2EF70;
}

*, *::before, *::after {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    line-height: 1.6;
    color: var(--gray);
}

h1, h2 {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    text-align: center;
    /* width: 100%; */
    line-height: 1.1;
}

h1 {
    color: var(--white);
    font-size: 2.5rem;
}

h2 {
    color: var(--red);
    /* font-size: 2rem; */
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--white);
}

img {
    max-width: 100%;
}

/*** NAVIGATION ***/

.nav {
    /* display: flex; */
    /* justify-content: space-between; */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--red);
    z-index: 10;
}

.nav-list {
    display: flex;
}

.nav-list a {
    /* display: block; */
    font-size: 1rem;
    padding: 1em;
    font-weight: 100;
}

.nav-list a:hover {
    padding-bottom: 1em;
    background-color: var(--white);
    color: var(--red);
    border-radius: 10%;
}

.logo {
    font-size: 2rem;
    font-weight: 700;
    padding: 0 1em;
}

/*** WELCOME SECTION ***/

.welcome-section {
    background-color: var(--black);
    background-image: linear-gradient(62deg, #47606e 10%, var(--black) 100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    color: var(--yellow);
}

.typing-text {
    white-space: nowrap;
    overflow: hidden;
    font-family: monospace;
    font-size: 1.25rem;
}

/*** ABOUT SECTION ***/
.abt-section {
    background-color: #f5f1ed;
    padding: 4em;
}

.abt-section-header {
    max-width: 640px;
    margin: 0 auto;
    padding-bottom: 1em;
}

.abt-blurb {
    overflow: hidden;
    max-width: 1200px;
    margin: 0 auto;
    font-size: 2rem;
}

.container {
    max-width: 1128px;
    margin: 0 auto;
    width: 85%;
}

/*** PROJECT SECTION ***/




/*** CONTACT SECTION ***/

.contact-section {
    background-color: #f5f1ed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 80vh;
    padding: 0rem 2rem;
}

.contact-section-header {
    font-size: 1.5rem;
    color: var(--red);
    text-shadow: 2px 2px 1px #c4c6c1;
}

.contact-links {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 980px;
    flex-wrap: wrap;
}

.contact-section a {
    color: var(--red);
}

.contact-details {
    text-shadow: 1px 1px 1px #c4c6c1;
    transition: transform 0.3s ease-out;
}

.btn {
    display: inline-block;
    padding: 1rem 2rem;
    border-radius: 2px;
}


/*** FOOTER ***/

footer {
    font-weight: 300;
    display: flex;
    justify-content: center;
    background: var(--gray);
}

footer p {
    color: var(--white);
    font-weight: 500;
}

.copyright {
    font-weight: 700;
}

@media (min-width: 800px) {
    .row {
        display: flex;
    }

    .col {
        width: 100%;
    }

    .col + .col {
        margin-left: 3em;
    }

    .contact-links {
        flex-direction: column;
    }
}