:root {
    --clr-dark: 208 18% 21%;
    --clr-highlight: 346 75% 63%;
    --clr-green: 81 24% 71%;
    --clr-gray: 93 11% 84%;
    --clr-light: 76 35% 94%;
    --clr-white: 0 0% 100%;
}

/*** BASE RESET ***/

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    scroll-behavior: smooth;
}

/*** ACCESSIBILITY ***/

.sr-only {
    position: absolute; 
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px; 
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap; /* added line */
    border: 0;
}

.skip-to-content {
    position: absolute;
    z-index: 9999;
    background: hsl( var(--clr-white) );
    color: hsl( var(--clr-dark) );
    padding: .5em 1em;
    margin-inline: auto;
    transform: translateY(-100%);
    transition: 250ms ease-in;
}

.skip-to-content:focus {
    transform: translateY(0);
}

/*** BASE STYLES ***/

body {
    margin: 0;
    font-family: 'Quattrocento Sans', sans-serif;
    font-weight: 400;
    line-height: 1.6;
    /* color: var(--gray); */
}

h1, h2 {
    font-family: 'Quattrocento', serif;
    font-weight: 700;
    text-align: center;
    /* width: 100%; */
    line-height: 1.1;
}

ul {
    list-style: none;
}

.nav a {
    text-decoration: none;
}

/*** NAVIGATION/HEADER ***/

/* primary-header */

.logo {
    margin: 1.5rem clamp(1.5rem, 5vw, 3.5rem);
    color: hsl( var(--clr-dark) );
    text-decoration: none;
    font-size: 2rem;
    font-weight: 700;
    padding: 1rem 0;
}

.primary-header {
    justify-content: space-between;
    align-items: center;
}

.primary-navigation {
    --gap: clamp(1rem, 3vw, 5rem);
    /* --underline-gap: 2rem; */
    list-style: none;
    padding: 0;
    margin: 0;
    background: hsl( var(--clr-dark) / .95);
}

.primary-navigation > * {
    padding: .5rem;
    font-weight: 700;
}

@supports (backdrop-filter: blur(1.5rem)) {
    .primary-navigation {
        background: hsl( var(--clr-white) / .05);
        backdrop-filter: blur(1.5rem);
    }
}

@media (max-width: 500px) {
    .primary-navigation {
        position: fixed;
        z-index: 1000;
        inset: 0 0 0 30%;
        list-style: none;
        padding: min(20rem, 15vh) 2rem;
        margin: 0;
        flex-direction: column;
        transform: translateX(100%);
        transition: transform 500ms ease-in-out
    }

    .primary-navigation[data-visible='true'] {
        transform: translateX(0);
    }

    .primary-navigation > *:last-child {
        margin-block-start: .5em;
    }

    .primary-header {
        justify-content: space-between;
        align-items: center;
    }

    .mobile-nav-toggle {
        display: block;
        position: absolute;
        z-index: 2000;
        right: 1rem;
        top: 2rem;
        background: transparent;
        background-image: url(./assets/bars.svg);
        background-repeat: no-repeat;
        background-position: center;
        width: 1.75rem;
        aspect-ratio: 1;
        border: 0;
    }

    .mobile-nav-toggle[aria-expanded='true'] {
        background-image: url(./assets/x.svg)
    }

    /* add black border when using keyboard tab to access mobile nav, but not on */
    .mobile-nav-toggle:focus-visible {
        outline: 0.3125rem solid black;
        outline-offset: 0.3125rem;
    }
}



@media (min-width: 45rem){
    .primary-header::before {
        content: '';
        display: block;
        position: relative;
        width: 100%;
        height: 1px;
        background: hsl( var(--clr-light) / .25);
        left: 35px;
        z-index: 1000;
    }

    .primary-header {
        margin-block-end: 2rem;
    }

    .primary-header > div {
        order: -1;
    }

}
.primary-navigation a {
    text-decoration: none;
}

.primary-navigation a > span {
    font-weight: 700;
    margin-right: .5em;
}

.header {
    display: flex;
    padding: 1.875rem 1.5em;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-block-start: 1em;  
}

.mobile-nav-toggle {
    display: block;
    position: absolute;
    z-index: 2000;
    right: 3rem;
    top: 2.55rem;
    background: transparent;
    background-position-x: 0%;
    background-position-y: 0%;
    background-repeat: repeat;
    background-image: none;
    background-repeat: no-repeat;
    background-image: url(./assets/bars.svg);
    background-position: center;
    width: 1.75rem;
    aspect-ratio: 1;
    border: 0;
}
 @media (max-width: 500px) {

.primary-navigation {
    position: fixed;
    z-index: 1000;
    inset: 0 0 0 30%;
    list-style: none;
    padding: min(20rem, 15vh) 2rem;
    margin: 0;
    flex-direction: column;
    transform: translateX(100%);
    transition: transform 500ms ease-in-out;
   }
}

.nav-list {
    display: flex;
    flex-direction: column;
    position: fixed;
    z-index: 1000;
    inset: 0 0 0 30%;
    transform: translateX(0);
    transition: transform 500ms ease-in-out;
}

.line {
    width: 100%;
    height: 1px;
    background: hsl( var(--clr-green) );
    margin-block-start: 1.5em;
}

.nav-link {
    font-size: 1.25rem;
    padding: .5em .05em;
    color: hsl( var(--clr-dark) );
    text-transform: uppercase;
}

.nav-link:hover {
    border-bottom: .15rem solid hsl( var(--clr-highlight) )
}

@media (min-width: 500px) {
    .primary-navigation {
        display: flex;
        padding-inline: 1rem;
    }


    .mobile-nav-toggle {
        display: none;
    }
}

@media (min-width: 35em) and (max-width: 45em){
    .primary-navigation{
        padding-inline-start: 3rem;
    }
    
    .primary-navigation a > span {
        display: none;
    }
}

/*** WELCOME SECTION ***/

.title {
    margin-inline: 1rem;
    font-size: 2.25rem;
    font-weight: 400;
    line-height: 1.25em;
}

.welcome-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5625rem;
    align-self: stretch;
    padding: 1em 3.75em;
}

.hero-text {
    color: hsl( var(--clr-dark) );
    text-align: center;
    font-size: 1.3125rem;
    font-style: normal;
    font-weight: 400;
    line-height: 2rem;
    margin-inline: .25em;
    max-width: 50ch;
}

.hero-btns {
    display: flex;
    flex-direction: column;
    gap: 1.5625rem;
}

.hero-btn {
    display: flex;
    color: hsl( var(--clr-dark) );
    font-size: 1.5rem;
    font-weight: 700;
    width: 12.625rem;
    padding: 0.1875em 2.1875em;
    justify-content: center;
    align-items: center;
    border: 0.15rem solid hsl( var(--clr-dark) );
    border-radius: 0.625rem;
    text-decoration: none;
    text-transform: uppercase;
}

.hero-btn:hover {
    color: hsl( var(--clr-light) );
    background-color: hsl( var(--clr-dark) );
}

.hero-btn-dark,
.cta-btn {
    border: none;
    background: hsl( var(--clr-highlight) );
    color: hsl( var(--clr-white) );
    border: 0.15rem solid hsl( var(--clr-highlight) );
    border-radius: 0.625rem;
    margin-block-start: .5em;
    padding: 0.45rem;
}

.hero-btn-dark:hover,
.cta-btn:hover {
    color: hsl( var(--clr-highlight) );
    background-color: hsl( var(--clr-white) );
}

@media (min-width: 46.5rem) {
    .welcome-section > .line {
        width: 263px;
    }

    .hero-btns {
        flex-direction: row;
        gap: 3.75rem;
    }
}

/* sections */

.project-grid {
    display: grid;
    padding: 3em 1.5em;
    flex-direction: column;
    align-items: center;
    gap: 1.5625rem;
    align-self: stretch;
}

.section-heading {
    margin-inline: 2em;
    padding-block-end: .5em;
    color: hsl( var(--clr-dark) );
    text-align: center;
    font-size: 2.25rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 0.0625rem solid hsl( var(--clr-dark) );
}

.project-title {
    color: hsl( var(--clr-dark) );
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-block: 0.625rem;
    gap: 0.625rem;
}

.project-image {
    display: inline-grid;
    justify-content: center;
    overflow: hidden;
    text-align: center;
}

.project-card {
    display: grid;
    margin: auto;
    justify-content: center;
    align-items: center;
    padding: 1em;
    border-radius: 0.625rem;
    box-shadow: 0.625rem 0.3125rem 2.5rem hsl( var(--clr-dark) );
    max-width: 41.9375rem;
}

.project-card > .line {
    /* width: 20.4375rem; */
    height: 0.0625rem;
    margin-block: 0.625em;
}

.small-tablet-screen {
    display: none;
}

.tech-stack {
    display: flex;
    align-items: flex-start;
    gap: 2.25rem;
    align-self: stretch;
    padding-block: 1em;
}

.project-links {
    display: flex;
    align-items: flex-start;
    gap: 1.25rem;
}

.abt-section {
    background-image: linear-gradient(-32deg, var(--yellow) 10%, var(--white) 100%);
    padding: 10rem 2rem;
}

.abt-section-header {
    max-width: 40rem;
    margin: 0 auto 6rem auto;
    border-bottom: 0.2rem solid;
    padding-block-end: 1em;
}

.abt-blurb {
    overflow: hidden;
    padding: 5em 30em;
    font-size: 2rem;
}

.mobile-screen {
    max-width: 100%;
}

@media (min-width: 37.5rem) {
    .mobile-screen {
        display: none;
    }

    .small-tablet-screen {
        display: block;
    }

    .project-grid {
        margin-inline: 3em;
    }
}

@media (min-width: 62.5rem) {

    .project-grid {
        display: grid;
        justify-content: center;
        grid-template-columns: 423.5px 423.5px;
        gap: 113px;
    }

}

@media (max-width: 76.875rem) {
    .abt-blurb {
        padding: 5em 0em;
    }


@media (max-width: 37.5rem) {
    .abt-blurb {
    font-size: 2rem;
    }
}

/*** CONTACT FORM ***/

.hidden {
    display: none;
}

.container {
    /* display: flex; */
    align-items: center;
    justify-content: center;
    padding: 1.5em;
    gap: 1.5rem;
}

input {
    border: 0.0625rem solid hsl( var(--clr-dark) );
    border-radius: 0.625rem;
    padding: 0.5em;
}

label {
    display: grid;
    grid-auto-flow: row;
    gap: 0.625rem;
}

.error-message {
    text-align: right;
}

.contact-me {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.input-message {
    height: 9.875rem;
    border-radius: 0.625rem;
    border: 0.0625rem solid hsl( var(--clr-dark) / .75 );
    padding: 1em;
}

.sendBtn {
    background: hsl( var(--clr-dark) );
    color: hsl( var(--clr-white) );
    font-weight: 400;
    padding-block: 0.25em;
    border-radius: 0.625rem;
    font-size: 1.5rem;
    max-height: 3.125rem;
}

.section h3 {
    text-transform: uppercase;
}

.section h3,
.section p {
    text-align: center;
}

@media (min-width: 46.5rem) {
    .section-heading {
        margin-inline: 7em;
    }
}

@media (min-width: 64rem) {

    .hamburger-menu {
        display: none;
    }

    .nav-list {
        display: flex;
    }

    .contact-section {
        display: grid;
        justify-content: center;
        /* grid-template-rows: 1fr 1fr; */
        /* grid-auto-flow: column; */
        /* gap: 0px; */
        border: 0.125rem solid blueviolet;
        grid-template-areas:
            "name message"
            "email message"
            " . submit"
    }

    

    .name-item {
        grid-area: name;
    }

    .email-item {
        grid-area: email;
    }

    .message-item {
        grid-area: message;
    }

    .submit-item {
        grid-area: submit;
    }

    .contact-section:first-child {
        border: 0.3125rem
    }
}
/*** FOOTER ***/

footer {
    background-color: hsl( var(--clr-highlight) );
    font-weight: 300;
    display: flex;
    justify-content: center;
    margin-block-start: 1em;
    padding: 2em 2em .5em 2em;
    flex-direction: column;
    gap: .5rem;
}

.socials {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 1.5625rem;
}

.icon-bg {
    width: 30px;
    height: 30px;
    /* background: hsl( var(--clr-dark) ); */
    position: relative;
}

.icon-bg:hover {
    padding-block-end: 1em;
}
.fab,
.fem-icon {
    color: hsl( var(--clr-dark) );;
} 

.fem-icon {
    width: 32px;
    height: 32px;
}

.icon {
    position: absolute;
    color: hsl( var(--clr-white) )fff;
    border-radius: 50%;

}

footer p {
    color: hsl( var(--clr-light) );
    font-weight: 500;
    text-align: center;
    font-size: .75rem;
}

.copyright {
    font-weight: 700;
}